.articles
  img 
    width: 100%
  .content 
    p 
      padding-left: 0  
    
.articles
  .container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.articles
  .item--full
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.articles
  .item--half
    width: calc(50% - 0.75rem)
    margin-bottom: 1.5rem
    background-color: $white

.articles
  .item--half_wrapper
    padding: 4.8rem

.articles
  .item--half-top
    width: 50%

.articles
  .item--half-top
    width: calc(50% - 0.75rem);
    &.outside-box
      width: calc(50% + 0.75rem);
      margin-top: -8rem
.articles_header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 5rem

.articles_header > span
  font-size: 1.8rem
  color: #c9c9c9

.articles 
  h3
    color: $primary
    font-size: 4.8rem
    font-family: Molde-SemiCondensed-Bold
    line-height: 1
    margin-bottom: 3rem
    
.articles
  p
    color: $primary
    font-size: 2rem
    padding-right: 30%
    margin-bottom: 5rem 
      
.articles 
  .list--work__next
    font-size: 1.8rem
    padding-left: 0
    height: inherit
    width: auto
    line-height: normal

@media only screen and (max-width: 1200px)
  .articles
    .item--half
      width: 100%

  .articles
    .item--half.outside-box
      margin-bottom: 0

@media only screen and (max-width: 480px)
  .list--header h2
    padding-top: 0rem
    margin-left: 3rem
    font-size: 5rem
  
  .articles 
    h3
      font-size: 3.5rem

  .articles
    .item--half_wrapper
      padding: 3rem
  
  .articles 
    p
      margin-bottom: 3rem
      padding-right: 18%
    
  .list--work__next 
    width: 100%
    padding-left: 2.5rem
    font-size: 2.4rem
  